@font-face {
  font-family: "Circe-Bold";
  src: url("../css/font/Circe-Bold.eot"), url("../css/font/Circe-Bold.svg"), url("../css/font/Circe-Bold.ttf"), url("../css/font/Circe-Bold.woff"), url("../css/font/Circe-Bold.woff2");
}

@font-face {
  font-family: "Circe-ExtraBold";
  src: url("../css/font/Circe-ExtraBold.eot"), url("../css/font/Circe-ExtraBold.svg"), url("../css/font/Circe-ExtraBold.ttf"), url("../css/font/Circe-ExtraBold.woff"), url("../css/font/Circe-ExtraBold.woff2");
}

@font-face {
  font-family: "Circe-Regular";
  src: url("../css/font/Circe-Regular.eot"), url("../css/font/Circe-Regular.svg"), url("../css/font/Circe-Regular.ttf"), url("../css/font/Circe-Regular.woff"), url("../css/font/Circe-Regular.woff2");
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  z-index: 1;
}

.container::before {
  position: absolute;
  left: 130px;
  content: "";
  display: block;
  background: #000000;
  opacity: 0.08;
  background-size: cover;
  width: 1px;
  height: 1087px;
}

.container::after {
  position: absolute;
  top: 0;
  right: 230px;
  content: "";
  display: block;
  background: #000000;
  opacity: 0.08;
  background-size: cover;
  width: 1px;
  height: 1087px;
}

.header {
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
}

.header__titel {
  max-width: 50%;
  text-shadow: 0 20px 90px rgba(36, 33, 31, 0.1);
  color: #ffffff;
  font-family: "Circe-ExtraBold";
  font-size: 187px;
  line-height: 173px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}

.slider {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.header__slider__menu {
  max-width: 25%;
  font-family: "Circe-Regular";
  color: #353535;
  list-style: none;
  font-size: 19px;
  line-height: 32px;
  opacity: 0.6;
  margin: 0;
}

.header__slider__menu__inner {
  cursor: pointer;
}

.header__slider__menu__inner--btn {
  border: none;
  outline: none;
  background: #fff;
  position: relative;
}

.header__slider__menu__inner--btn:hover .header__slider__menu__inner__page-name {
  display: none;
}

.header__slider__menu__inner--btn:hover::after {
  content: "";
  display: block;
  width: 326px;
  height: 2px;
  background-color: #f4c373;
  position: absolute;
  left: 125%;
  top: 50%;
}

.header__slider__menu__inner__page {
  width: 83px;
  display: inline-block;
  box-shadow: 0 20px 90px rgba(36, 33, 31, 0.15);
  background-color: #ffffff;
  border-bottom: 2px solid #ebebea;
}

.header__slider__menu__inner__page:last-child {
  border-bottom: none;
}

.header__slider__menu__inner__page-num {
  display: inline-block;
  transform: rotate(-90deg);
  padding: 29px;
  font-size: 21px;
  font-family: "Circe-Bold";
}

.header__slider__menu__inner__page-name {
  margin-left: 57px;
}

.activ {
  border-left: 8px solid #f9c97b;
  opacity: 0.8;
  color: #f9c97b;
  padding-left: 0;
}

.header__slider__menu__inner:hover .header__slider__menu__inner__page-num {
  color: #f9c97b;
}

.header__slider__menu__btn-top {
  background: url("../css/image/arrow-menu-top.svg") no-repeat;
  background-size: contain;
  height: 30px;
  border: none;
  margin: 30px 33px;
  outline: none;
  cursor: pointer;
}

.header__slider__menu__btn-bottom {
  background: url("../css/image/arrow-menu-bottom.svg") no-repeat;
  background-size: contain;
  height: 30px;
  border: none;
  margin: 30px 33px;
  outline: none;
  cursor: pointer;
}

.header__slider__wrap {
  max-width: 70%;
  background-color: #ffffff;
  box-shadow: 0 30px 120px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 10%;
}
.header__slider__wrap--one {
  display: block;
}
.header__slider__titel--one::before {
  background: url("../css/image/image.png");
}
.header__slider__titel--two::before {
  background: url("../css/image/two.png");
}
.header__slider__titel--three::before {
  background: url("../css/image/three.png");
}
.header__slider__titel--four::before {
  background: url("../css/image/four.png");
}
.header__slider__titel--five::before {
  background: url("../css/image/five.png");
}
.header__slider__wrap--two,
.header__slider__wrap--three,
.header__slider__wrap--four,
.header__slider__wrap--five {
  display: none;
}
.header__slider__titel {
  font-family: "Circe-ExtraBold";
  color: #282828;
  font-size: 48px;
  padding-left: 65%;
  padding-top: 20%;
  margin: 0;
  position: relative;
}

.header__slider__titel::before {
  content: "";
  display: block;
  background-size: cover;
  width: 560px;
  height: 280px;
  position: absolute;
  top: 120px;
  right: 40%;
}

.header__slider__subtitle {
  color: #232323;
  opacity: 0.5;
  font-family: "Circe-Bold";
  font-size: 23px;
  padding-left: 65%;
  margin: 0;
  padding-bottom: 170px;
}

.header__slider__desc {
  color: #353535;
  font-family: "Circe-Regular";
  font-size: 19px;
  max-width: 47%;
  margin-left: 11%;
  line-height: 32px;
  padding-bottom: 15%;
}

.header__slider__btn {
  opacity: 0.5;
  color: #4d4d4d;
  font-family: "Circe-Regular";
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: #ffffff;
  position: relative;
  z-index: 1;
  left: 77%;
  cursor: pointer;
}

.header__slider__btn-prev {
  background: url("../css/image/arrow_up.svg") no-repeat;
  background-size: contain;
  height: 35px;
  background-position-x: right;
  position: absolute;
  top: 10%;
  padding-right: 30px;
}

.header__slider__btn-next {
  background: url("../css/image/arrow_down.svg") no-repeat;
  background-size: contain;
  height: 35px;
  background-position-x: right;
  position: absolute;
  bottom: -8%;
  left: 79%;
  padding-right: 30px;
}

.header__contacts {
  transform: rotate(90deg);
  position: absolute;
  top: 330px;
  right: 0;
  display: flex;
  box-shadow: 0 30px 180px rgba(0, 0, 0, 0.24);
}

.header__contacts__btn {
  border: none;
  outline: none;
  padding-right: 17px;
  background: #ffffff;
  width: 65px;
  height: 65px;
  border-right: 2px solid #f0f0f0;
  cursor: pointer;
}

.header__contacts__btn::after {
  content: "";
  display: block;
  background: url("../css/image/arrow_up.svg") no-repeat center;
  background-size: contain;
  height: 30px;
  transform: rotate(-90deg);
}

.header__contacts__menu__icon {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  width: 65px;
  height: 65px;
  color: #d4d4d4;
  transform: rotate(-90deg);
}

.header__contacts__menu__icon--email, .header__contacts__menu__icon--beh, .header__contacts__menu__icon--inst, .header__contacts__menu__icon--fb {
  position: relative;
}

.header__contacts__menu__icon--email:hover, .header__contacts__menu__icon--beh:hover, .header__contacts__menu__icon--inst:hover, .header__contacts__menu__icon--fb:hover {
  color: #010101;
}

.header__contacts__menu__icon--email:hover::after, .header__contacts__menu__icon--beh:hover::after, .header__contacts__menu__icon--inst:hover::after, .header__contacts__menu__icon--fb:hover::after {
  content: "";
  display: block;
  width: 10px;
  border: 1px solid #010101;
  position: absolute;
  top: 47%;
  right: 0;
}

.header__contacts__menu__icon--email:hover::before, .header__contacts__menu__icon--beh:hover::before, .header__contacts__menu__icon--inst:hover::before, .header__contacts__menu__icon--fb:hover::before {
  content: "";
  display: block;
  width: 140px;
  border: 1px solid #010101;
  opacity: 0.25;
  position: absolute;
  top: 47%;
  right: -130px;
}

.fa-instagram--custom,
.fa-facebook--custom,
.fa-behance--custom,
.fa-envelope--custom {
  height: 35px;
  width: 28px;
  padding-top: 15px;
}

.fa-facebook--custom {
  height: 30px;
}

.fa__custom {
  width: 30px;
  height: 30px;
  color: #424345;
}

.services {
  background-color: #edecec;
  font-family: "Circe-Bold";
  padding: 200px 265px 100px 525px;
}

.services__inner {
  padding: 50px 80px;
  border: 1px solid rgba(40, 40, 40, 0.2);
}

.services__inner__subtitle {
  opacity: 0.5;
  color: #232323;
  font-size: 23px;
  margin-bottom: 25px;
}

.services__inner-item {
  display: flex;
  justify-content: space-between;
}

.services__inner-item__title {
  color: #282828;
  font-size: 59px;
}

.services__inner-item__btn {
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 10px 43px rgba(0, 0, 0, 0.13);
  font-family: "Circe-Bold";
  color: #202020;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 14px;
  padding: 20px 35px;
  position: relative;
}

.services__inner-item__btn:hover::after {
  content: "";
  display: block;
  width: 85%;
  height: 4px;
  opacity: 0.7;
  background: #ffc567;
  position: absolute;
  right: 19px;
  bottom: 0;
}

.connection {
  background-color: #1b1b1b;
  position: relative;
}

.connection::after {
  content: "";
  display: block;
  background: url("../css/image/fon.png") no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.connection__container {
  max-width: 1535px;
  margin: 0 auto;
}

.connection__inner {
  position: relative;
  padding-top: 455px;
  text-align: center;
}

.connection__inner::before {
  content: "";
  display: block;
  background: url("../css/image/logotype.png") no-repeat;
  height: 370px;
  width: 380px;
  position: absolute;
  top: 250px;
  right: 36%;
}

.connection__inner__titel {
  color: #ffffff;
  font-family: "Circe-Bold";
  font-size: 62px;
  line-height: 80px;
}

.connection__inner__btn {
  padding: 22px 75px;
  border: 4px solid rgba(254, 203, 148, 0.8);
  outline: none;
  background-color: transparent;
  font-family: "Circe-Bold";
  color: #fecb94;
  font-size: 23px;
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.connection__social {
  font-family: "Circe-Bold";
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 245px;
  padding-bottom: 45px;
  border-bottom: 3px solid #282828;
}

.connection__social__networks {
  display: inline-block;
  margin-right: 32px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.connection__social__networks:last-child {
  margin-right: 0;
}

.connection__social__networks:hover .fa__custom {
  color: #fbcd6c;
}

.connection__social__copyright {
  color: #646363;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.connection__social__copyright-item {
  color: #ddb680;
}

.connection__social__email {
  text-decoration: none;
  color: #ddb680;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.connection__name-company {
  color: #6f6f6f;
  font-size: 12px;
  text-transform: uppercase;
  padding: 25px 0 60px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.connection__name-company::after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  box-shadow: 0 44px 103px rgba(0, 0, 0, 0.09);
  border: 3px solid #ddb680;
  margin-left: 15px;
}

.connection__name-company::before {
  content: "";
  display: block;
  height: 25px;
  box-shadow: 0 44px 103px rgba(0, 0, 0, 0.09);
  border: 3px solid #ddb680;
  background: #ddb680;
  margin-left: 15px;
  position: absolute;
  top: 24px;
  right: 12px;
  transform: rotate(-44deg);
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1270px;
  }
  .header__titel {
    font-size: 150px;
    line-height: 140px;
  }
  .slider {
    max-width: 1400px;
    margin: 0 auto;
  }
  .header__slider__wrap {
    max-width: 65%;
    right: 14%;
  }
  .header__slider__menu__inner__page-name {
    margin-left: 30px;
  }
  .header__slider__titel::before {
    width: 50%;
    height: 95%;
    right: 45%;
  }
  .header__slider__titel {
    font-size: 45px;
    padding-left: 60%;
  }
  .header__slider__subtitle {
    padding-left: 60%;
    padding-bottom: 145px;
  }
  .header__slider__desc {
    max-width: 50%;
    margin-left: 5%;
    line-height: 30px;
  }
  .header__slider__btn {
    left: 70%;
  }
  .header__slider__btn-next {
    bottom: 3%;
    left: 72%;
  }

  .header__contacts {
    top: 310px;
  }
  .header__contacts__menu__icon--email:hover::before,
  .header__contacts__menu__icon--beh:hover::before,
  .header__contacts__menu__icon--inst:hover::before,
  .header__contacts__menu__icon--fb:hover::before {
    width: 130px;
    top: 47%;
    right: -130px;
  }
  .container::before {
    left: 75px;
    height: 1025px;
  }
  .container::after {
    height: 1025px;
  }
  .services {
    padding: 170px 165px 100px 165px;
  }
  .connection__container {
    max-width: 1270px;
  }
  .connection::after {
    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1200px;
  }
  .container::before {
    display: none;
  }
  .container::after {
    display: none;
  }
  .slider {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header__slider__titel {
    font-size: 34px;
  }
  .header__slider__subtitle {
    font-size: 19px;
  }
  .header__slider__titel::before {
    height: 100%;
  }
  .header__slider__desc {
    max-width: 51%;
    line-height: 25px;
    font-size: 16px;
  }
  .header__slider__menu__inner__page {
    width: 65px;
  }
  .header__slider__menu__inner__page-num {
    padding: 20px;
  }
  .services__inner-item__title {
    font-size: 52px;
  }
  .services__inner-item__btn {
    padding: 0px 30px;
  }
  .services__inner {
    padding: 35px 65px;
  }
  .connection__container {
    max-width: 1100px;
  }
  .header__contacts {
    right: -45px;
  }
  .header__contacts__menu__icon--email:hover::before,
  .header__contacts__menu__icon--beh:hover::before,
  .header__contacts__menu__icon--inst:hover::before,
  .header__contacts__menu__icon--fb:hover::before {
    width: 135px;
    top: 47%;
    right: -131px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 980px;
  }
  .header__titel {
    max-width: 100%;
    font-size: 130px;
    line-height: 140px;
    text-align: center;
  }
  .header__contacts {
    display: none;
  }
  .slider {
    max-width: 980px;
    margin: 0 auto;
  }
  .header__slider__btn {
    left: 69%;
  }
  .header__slider__btn-next {
    bottom: 0;
    left: 71%;
  }
  .header__slider__titel {
    font-size: 30px;
  }
  .header__slider__subtitle {
    font-size: 16px;
    padding-bottom: 80px;
  }
  .header__slider__titel::before {
    height: 100%;
    width: 49%;
    top: 65px;
  }
  .header__slider__desc {
    line-height: 20px;
    font-size: 13px;
  }
  .header__slider__menu__inner__page-num {
    padding: 15px;
    font-size: 16px;
  }
  .header__slider__menu__inner__page {
    width: 47px;
  }
  .header__slider__menu__btn-top,
  .header__slider__menu__btn-bottom {
    margin: 20px 23px;
  }
  .header__slider__menu__inner__page-name {
    display: none;
  }
  .header__slider__menu__inner--btn:hover::after {
    display: none;
  }
  .header__slider__wrap {
    max-width: 75%;
  }
  .services {
    padding: 100px;
  }
  .services__inner {
    padding: 30px 150px;
  }
  .services__inner-item {
    justify-content: center;
    flex-wrap: wrap;
  }
  .services__inner-item__btn {
    padding: 17px 30px;
    margin-top: 15px;
  }
  .connection__inner {
    padding-top: 160px;
  }
  .connection__inner::before {
    top: 50px;
    right: 32%;
  }
  .connection__inner__titel {
    position: relative;
    z-index: 1;
  }
  .connection__container {
    max-width: 920px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .header__titel {
    font-size: 90px;
    line-height: 130px;
    text-shadow: 0 15px 60px rgba(61, 61, 61, 0.3);
    padding-top: 69px;
  }
  .slider {
    max-width: 700px;
    margin: 0 auto;
  }
  .header__slider__menu {
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: absolute;
    bottom: 42%;
    padding-left: 0;
    left: 25%;
    z-index: 1;
    opacity: 1;
  }
  .header__slider__menu__btn-top {
    background: url("../css/image/arrow_up.svg") no-repeat;
    transform: rotate(-90deg);
  }
  .header__slider__menu__btn-bottom {
    background: url("../css/image/arrow_down.svg") no-repeat;
    transform: rotate(-90deg);
  }
  .header__slider__menu__inner__page-num {
    transform: none;
  }
  .header__slider__menu__inner--btn {
    padding: 0;
    margin-right: 2px;
  }
  .header__slider__menu__inner--btn-five {
    margin-right: 0;
  }
  .activ {
    border-bottom: 8px solid rgba(249, 201, 123, 0.8);
    border-left: 0;
    opacity: 1;
    color: rgb(249, 201, 123);
  }
  .header__slider__wrap {
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .header__slider__titel::before {
    background-size: cover;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 87px;
  }
  .header__slider__titel {
    font-size: 43px;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .header__slider__btn {
    display: none;
  }
  .header__slider__subtitle {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 35px;
  }
  .header__slider__desc {
    max-width: 85%;
    line-height: 32px;
    font-size: 16px;
  }
  .services__inner {
    border: none;
    padding: 0;
  }
  .services__inner-item__title {
    font-size: 57px;
  }
  .connection__container {
    display: none;
  }
  .connection__social {
    display: block;
    position: relative;
  }
  .connection__social__icon {
    position: absolute;
    bottom: 150%;
    left: 30%;
  }
  .connection__social__copyright {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: none;
  }
  .connection__social__email {
    display: block;
    text-align: center;
  }
  .connection__inner {
    padding: 160px 36px 220px 26px;
  }
  .connection__inner::before {
    right: 23%;
  }
  .connection__social {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    border-top: 1px solid #282828;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 500px;
  }
  .header__titel {
    font-size: 90px;
    line-height: 110px;
    padding-top: 50px;
  }
  .header__slider__menu__inner__page {
    width: 100%;
  }
  .header__slider__menu {
    left: 10%;
    bottom: 35%;
  }
  .header__slider__wrap {
    max-width: 90%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
  }
  .services {
    padding: 60px;
  }
  .connection__inner::before {
    left: 15%;
    right: 0;
    background-size: contain;
  }
}

@media screen and (max-width: 420px) {
  .header__slider__menu {
    bottom: 45%;
    left: 19%;
  }
  .header__slider__titel::before {
    height: 189px;
    margin-bottom: 65px;
  }
  .header__slider__menu__btn-top,
  .header__slider__menu__btn-bottom {
    display: none;
  }
  .header__slider__desc {
    max-width: 90%;
    line-height: 25px;
    font-size: 12px;
  }
  .connection__inner::before {
    left: 15px;
    right: 0;
    background-size: contain;
  }
  .header__slider__wrap {
    max-width: 100%;
  }
  .services {
    padding: 30px;
  }
  .services__inner__subtitle {
    font-size: 16px;
  }
  .services__inner-item__title {
    font-size: 37px;
  }
  .connection__inner__titel {
    font-size: 41px;
    line-height: 50px;
  }
  .connection__social__icon {
    left: 15%;
  }
}

@media screen and (max-width: 400px) {
  .header__titel {
    font-size: 50px;
    line-height: 90px;
  }
  .header__titel {
    font-size: 50px;
    line-height: 90px;
  }
  .header__slider__menu__inner__page {
    width: 100%;
  }
  .header__slider__menu__btn-top {
    margin: 15px;
  }
  .header__slider__menu__btn-bottom {
    margin: 15px;
  }
  .header__slider__menu {
    left: 19%;
    top: 43%;
    bottom: 0;
  }
  .services {
    padding: 50px;
  }
  .services__inner__subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .services__inner-item__title {
    font-size: 30px;
  }
  .connection__inner::before {
    left: 13%;
    background-size: contain;
    width: 282px;
    right: 0;
  }
  .connection__inner__titel {
    font-size: 39px;
    line-height: 50px;
  }
  .connection__social__icon {
    left: 15%;
  }
  .services {
    padding: 50px;
  }
  .services__inner__subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .services__inner-item__title {
    font-size: 30px;
  }
  .connection__inner::before {
    left: 13%;
    background-size: contain;
    width: 282px;
    right: 0;
  }
  .connection__inner__titel {
    font-size: 39px;
    line-height: 50px;
  }
  .connection__social__icon {
    left: 15%;
  }
}



@media screen and (max-width: 360px) {
  .header__slider__menu {
    bottom: 54%;
    left: 17%;
    top: auto;
  }
  .header__slider__titel::before {
    height: 135px;
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }
  .header__titel {
    font-size: 36px;
    padding-top: 40px;
    line-height: 50px;
  }
  .header__slider__menu {
    bottom: 56%;
    left: 10%;
}
  .services {
    padding: 35px;
  }
  .services__inner__subtitle {
    font-size: 12px;
    padding-left: 12px;
  }
  .services__inner-item__title {
    font-size: 24px;
  }
  .services__inner-item__btn {
    font-size: 11px;
  }
  .connection__inner::before {
    width: 248px;
    height: 207px;
    opacity: 0.2;
    background-size: cover;
  }
  .connection__inner__titel {
    display: inline;
    font-size: 22px;
    line-height: 30px;
  }
  .connection__inner::before {
    left: 11%;
    top: 11%;
  }
  .connection__inner__btn {
    display: block;
    font-size: 12px;
    padding: 11px 36px;
    margin-top: 50px;
    margin-left: 25%;
  }
  .fa__custom {
    width: 25px;
    height: 20px;
  }
  .connection__social__networks {
    margin-right: 20px;
  }
  .connection__social__icon {
    left: 15%;
    bottom: 120%;
  }
  .connection__inner {
    padding: 160px 36px 130px 26px;
  }
  .connection__social {
    padding-bottom: 5px;
  }
  .connection__social__copyright {
    font-size: 9px;
  }
  .connection__social__email {
    font-size: 9px;
  }
}
